In [39]:
import re
import pandas as pd

In [65]:
data = pd.read_excel('adhd_data.xlsx')
data

,sentence,month,day,hour,minute,todo
0,3월 17일 9시에 헬스장 가기로 했어,3.0,17.0,9.0,0.0,헬스장
1,4월 5일 오후 3시에 친구와 점심 약속이 있어,4.0,5.0,15.0,0.0,친구와 점심 약속
2,5월 12일 오전 10시에 회사 세미나에 참석할 예정이야,5.0,12.0,10.0,0.0,회사 세미나
3,6월 8일 오후 2시에 친구의 생일 파티에 초대받았어,6.0,8.0,14.0,0.0,친구의 생일파티
4,7월 20일 오후 5시에 치과 진료 예약이 있어,7.0,20.0,17.0,0.0,치과 진료 예약
...,...,...,...,...,...,...
115,8월 5일 오전 9시에 새로운 취미를 위해 예술 클래스를 시작합니다.,NaN,NaN,NaN,NaN,NaN
116,9월 18일 오후 4시에 자원봉사단체에서 봉사활동에 참여합니다.,NaN,NaN,NaN,NaN,NaN
117,10월 12일 오후 1시에 동네 공원에서 친구들과 야외 피크닉을 할 계획입니다.,NaN,NaN,NaN,NaN,NaN
118,11월 25일 오전 11시에 가까운 산으로 가족과 함께 등산을 할 예정입니다.,NaN,NaN,NaN,NaN,NaN
119,12월 30일 오후 3시에 올해 마지막으로 친구들과 모여 새해 계획을 세우려고 해요.,NaN,NaN,NaN,NaN,NaN

In [113]:
def extract_schedule_info(sentence):
    # 날짜와 시간을 추출하는 정규표현식
    date_time_pattern = r'(\d+월) (\d+일) (오전|오후) (\d+)시(?: (\d+)분)?'
    match = re.search(date_time_pattern, sentence)
    if match:
        month = match.group(1).strip("월")
        day = match.group(2).strip("일")
        time_period = match.group(3)
        hour = match.group(4)
        if time_period == '오후':
            num_hour = hour.strip("시")
            hour = str(int(hour) + 12)# 오후면 시간에 12를 더해줍니다.
        minute = match.group(5) if match.group(5) else "0"  # 분 정보가 없으면 0으로 처리합니다.
        todo = sentence[match.end():].strip()  # 할 일은 날짜와 시간 이후의 부분입니다.
        return month, day, hour, minute, todo
    else:
        return None

In [114]:
schedule_sentences = [
    "3월 15일 오후 2시에 친구와 카페에서 공부 모임이 있어요.",
    "4월 10일 오전 11시에 할머니 집에서 가족들과 점심 식사를 할 예정입니다."
    ,"4월 2일 오후 1시, 놀이공원.", "5월 28일 오후 3시 15분에 친구와 커피를 마시러 갈 예정입니다."
]

# 각 일정을 추출하고 리스트에 저장합니다.
schedules = []
for sentence in schedule_sentences:
    schedule_info = extract_schedule_info(sentence)
    if schedule_info:
        schedules.append(schedule_info)

# 엑셀 파일에 쓰기 위한 코드
import pandas as pd

# 추출된 일정 정보를 데이터프레임으로 변환
df = pd.DataFrame(schedules, columns=['Month', 'Day', 'Hour', 'Minute', 'ToDo'])

In [115]:
sen = pd.DataFrame(schedule_sentences, columns=['Sentence'])
df = pd.concat([sen,df], axis=1)
df

,Sentence,Month,Day,Hour,Minute,ToDo
0,3월 15일 오후 2시에 친구와 카페에서 공부 모임이 있어요.,3,15,14,0,에 친구와 카페에서 공부 모임이 있어요.
1,4월 10일 오전 11시에 할머니 집에서 가족들과 점심 식사를 할 예정입니다.,4,10,11,0,에 할머니 집에서 가족들과 점심 식사를 할 예정입니다.
2,"4월 2일 오후 1시, 놀이공원.",4,2,13,0,", 놀이공원."
3,5월 28일 오후 3시 15분에 친구와 커피를 마시러 갈 예정입니다.,5,28,15,15,에 친구와 커피를 마시러 갈 예정입니다.